<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Вхід</title>
    <link rel="stylesheet" href="/static/style.css?v=12345">
</head>
<body>
    <h1>Вхід</h1>

    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}
    {% if message %}
        <p style="color: green;">{{ message }}</p>
    {% endif %}

    <form method="post" action="/login">
        <label for="username">Логін:</label><br>
        <input class="login_inputs" type="text" name="username" required><br><br>

        <label for="password">Пароль:</label><br>
        <input class="login_inputs" type="password" name="password" required><br><br>

        <input class="login_inputs" type="submit" value="Увійти">
    </form>

    <p>Ще не маєш акаунта? <a href="/register">Реєстрація</a></p>
</body>
</html>
